@font-face {
    font-family: viola;
    src: url(../fonts/VIOLA.ttf);
}

@font-face {
    font-family: future;
    src: url(../fonts/FuturaTS-Regular.ttf);
}

html {
    background-color: black;
}
#app,
body{
    margin: 0;
}

