#home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    animation: 1s change-opacity-home 1 forwards normal;

}

@keyframes change-opacity-home{
    from{
        background-color: rgba(0,0,0,1);
        
    }
    to{
        background-color: rgba(0,0,0,0);
    }
}

#home button{
    background-color: black;
    color: white;
    text-align: center;
    border: none;


    width: 220px;
    padding: 8px 0;
    font-size: 1.3rem;
    transition: all 0.5s ease-out;


}
#home button:hover{
    background-color: #fff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}



video {

    object-fit: cover;
    height: 100%;
    width: 100%;
  
    position: absolute;
    z-index: -1;
}