#item{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    color: white;
    transition: opacity 500ms;

    animation: 1s change-opacity-home 1 forwards normal;

}

@keyframes change-opacity-home{
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
}

#item > .left{
    position: relative; 
    flex: .75;
    
}

#item > .left > .black-bg-right{
    position: absolute;
    top: 0;
    left: 75%;
    width: 25%;
    height: 100%;

    background: linear-gradient(to right ,transparent, rgba(0, 0, 0, 1));

}
#item > .left > .black-bg-bottom{
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    height: 25%;

    background: linear-gradient(transparent, rgba(0, 0, 0, 1));

}

#item > .left> img{
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .8;
}


#item > .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    box-sizing: border-box;
}
#item > .right > div{

    flex: 0;
    padding: .3% 15%;
    padding-right: 30%;

}

#item > .right > div:last-child{
    padding-bottom: 5rem;
}

#item > .right > div:first-child{
    font-size: .7rem;
    display: flex;
    position: relative;

}

#item > .right > div:nth-child(2){
    font-size: 1.4rem;
    font-weight: bold;

}

#item > .right > div:nth-child(3){
    padding-bottom:4% ;
}


#item > .right > div:nth-child(4){
    font-size: .9rem;
    position: relative;

}

#item > .right .border-bottom{
    border-bottom: 1px gray solid;
    padding-top: 5%;
    margin-bottom: 5%;
}

#item > .right > div:first-child> div:nth-child(2){
    position: absolute;
    right: 25%;
    top:-4rem;
}

#item > .right > div > div> img:hover{
    cursor: pointer;    
}

#item > .right  form {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#item > .right button,
#item > .right select{
    height: auto;
    width: 160px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 1.1rem;

}

#item > .right select{
    background: none;
    color: white;
    text-align: center;
    outline: none;
}

#item > .right select:hover,
#item > .right button:hover{
    background-color: gray;
}

#item > .right option{
    color: black;
    background: black;
}
